<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="ru" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Демо</title>
</head>
<body>
    <div id="app">
        <div class="container p-4">
            <div class="well">
                <div class="alert alert-danger" v-if="error.length > 0"><strong>Ошибка!</strong> {{ error }}</div>
                <div class="form-group">
                    <label>Артикул</label>
                    <input type="text" v-model="sku" placeholder="Артикул" class="form-control" @change="clear">
                </div>
                <div class="form-group">
                    <label>Регион</label>
                    <select class="form-control" v-model="region"  @change="clear">
                        <option v-for="r, i in regions" :value="i">{{ r }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-lg" @click.prevent="fetch">Искать</button>
                </div>
                <div class="p-4" ref="result" v-if="Object.keys(result).length > 0">
                    <strong>Ответ</strong><br>
                    {<br>
                    <template v-for="value, key in result">
                        &nbsp;&nbsp;&nbsp;&nbsp;"{{ key }}" : "{{ value }}" <br>
                    </template>
                    }
                </div >
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    baseUrl: '/dns',
                    api : {},
                    password: 'password',
                    login: 'user',
                    sku: '',
                    region: '',
                    error: '',
                    regions: {},
                    result: {},
                    request: {}
                }
            },
            created: function() {
                this.api = axios.create({
                    headers: {
                        'X-Requested-With' : 'XMLHttpRequest'
                    },
                    auth: {
                        username: this.login,
                        password: this.password
                    }
                });
            },
            mounted: function() {
                var self = this;
                this.api.get(this.baseUrl+'/regions').then(function(response) {
                    self.regions = response.data;
                })
            },
            methods: {
                clear: function() {
                    this.error = '';
                },
                fetch: function() {
                    var self = this;
                    if (this.sku.length == 0)
                        this.error = 'Укажите артикул';
                    if (this.region.length == 0)
                        this.error = 'Укажите регион';
                    if (this.error.length == 0) {
                        this.api.get(this.baseUrl, {params: {a: this.sku, b: this.region}}).then(function(response) {
                            self.result = response.data;
                        })
                    }

                }
            }
        })
    </script>

</body>